@use '../../../mixins.scss' as *;

.about_me_content {
    @include dFlex($jc: space-between);
    max-width: $max_width;
    width: $full_width;
    background-color: $dark_blue;
    padding-bottom: 240px;
    padding-top: 108px;

    @media (max-width: 1010px) {
        padding-bottom: 150px;
    }
}

.about_me_container {
    @include dFlex($fd: column, $jc: start);
    padding-left: 100px;
    width: 471px;
    gap: 35px;

    @media (max-width: 1010px) {
        width: 100%;
        padding-right: 100px;
        position: relative;
        z-index: 700;
    }

    @media (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 720px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.about_me_sub_text {
    @include dFlex($ai: start);
    margin-left: 35px;
    gap: 35px;

    @media (max-width: 480px) {
        margin-left: 0;
    }

    img {
        width: 50px;

        &:hover {
            cursor: pointer;
            transition: transform 200ms ease-out;
            transform: scale(1.2);
        }
    }
}

.about_me_img {
    @include dFlex();
    position: relative;
    z-index: 700;

    img {
        width: 453px;
        height: 453px;
        border: solid 4px $green;
        border-radius: 1800px;

        @media (max-width: 1295px) {
            width: 400px;
            height: 400px;
        }

        @media (max-width: 1295px) {
            width: 320px;
            height: 320px;
        }
    }

    .green_line {
        @include lineDesign($lw: 267px, $lh: 4px, $lc: $green);

        @media (max-width: 1375px) {
            width: 167px;
        }

        @media (max-width: 1295px) {
            width: 107px;
        }
    }

    @media (max-width: 1010px) {
        display: none;
    }
}

.shadow_container {
    @include dFlex($jc: end);
    max-width: $max_width;
    width: $full_width;
    position: absolute;
    z-index: 400;
}

.purple_shadow {
    width: 400px;
    height: 700px;
    margin-top: -240px;
    background-image: url('../../../assets/img/desing_elements/purple_shadow_about_me.png');
    background-repeat: no-repeat;
    background-position: -20% 30%;

    @media (max-width: 600px) {
        margin-top: -200px;
        background-size: 180%;
        background-position: -60% 30%;
    }
}