@use '../../../mixins.scss' as *;

.portfolio_content {
    max-width: $max_width;
    width: $full_width;
    background-color: $dark_blue;
}

.portfolio_title_container {
    width: 100%;
}

.portfolio_title {
    @include dFlex($jc: end);
    width: 100%;
    gap: 42px;

    .purple_line {
        @include lineDesign($lw: 109px, $lh: 4px, $lc: $purple);
    }

    .purple_line_second {
        @include lineDesign($lw: 484px, $lh: 4px, $lc: $purple);

        @media (max-width: 1440px) {
            @include lineDesign($lw: 30%, $lh: 4px, $lc: $purple);
        }
    }

    @media (max-width: 900px) {
        gap: 36px;

        .purple_line {
            @include lineDesign($lw: 10%, $lh: 4px, $lc: $purple);
        }

        .purple_line_second {
            @include lineDesign($lw: 24%, $lh: 4px, $lc: $purple);
        }
    }

    @media (max-width: 650px) {
        gap: 24px;

        .purple_line {
            @include lineDesign($lw: 8%, $lh: 4px, $lc: $purple);
        }
    }

    @media (max-width: 500px) {
        gap: 16px;

        .purple_line_second {
            @include lineDesign($lw: 20%, $lh: 4px, $lc: $purple);
        }
    }

    @media (max-width: 410px) {
        gap: 10px;
    }
}

.portfolio_sub_title {
    @include dFlex();
    max-width: 100%;
    padding-bottom: 116px;


    @media (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media (max-width: 1010px) {
        padding-bottom: 80px;
    }

    @media (max-width: 720px) {
        margin-left: 25px;
        margin-right: 25px;
    }

    span {
        @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
        text-align: center;
    }
}

.portfolio_container {
    @include dFlex($fd: column);
    max-width: 100%;
    gap: 150px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 200px;

    @media (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media (max-width: 1010px) {
        gap: 80px;
        padding-bottom: 110px;
    }

    @media (max-width: 720px) {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.portfolio_project {
    @include dFlex();
    position: relative;
    z-index: 400;
    width: 1168px;
    min-height: 340px;

    img {
        width: 620px;
        height: 330px;
    }

    @media (max-width: 1370px) {
        width: 1100px;

        img {
            width: 500px;
            height: 266.13px;
        }
    }

    @media (max-width: 1370px) {
        width: 1000px;

        img {
            width: 400px;
            height: 211.9px;
        }
    }

    @media (max-width: 1010px) {
        @include dFlex($fd: column);
        width: fit-content;

        img {
            width: 620px;
            height: 330px;
        }
    }

    @media (max-width: 800px) {
        img {
            width: 400px;
            height: 211.9px;
        }
    }

    @media (max-width: 440px) {
        img {
            width: 300px;
            height: 159.68px;
        }
    }
}

.project_info {
    @include dFlex($fd: column, $ai: start);
    margin-right: 35px;
    gap: 15px;

    h2 {
        @include fontStyle($fs: 32px, $fw: 700, $fc: $purple);
    }

    .project_skills {
        @include dFlex();
        @include fontStyle($fs: 23px, $fw: 400, $fc: $green);
        gap: 5px;

        @media (max-width: 800px) {
            @include dFlex();
            flex-wrap: wrap;
        }
    }

    .project_description {
        @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
    }

    @media (max-width: 1010px) {
        @include dFlex($fd: column, $ai: center);
        margin-right: 0;

        .project_description {
            text-align: center;
            margin-right: 25px;
            margin-left: 25px
        }
    }
}

.project_test {
    @include dFlex();
    width: 100%;
    gap: 86px;
    margin-top: 20px;

    .live_test_btn {
        @include dFlex();
        @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
        @include secondaryBtn ($w: 92px, $h: 38px, $bc: $purple, $hbc: $green, $b: none);
    }

    .github_btn {
        @include dFlex();
        @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
        @include secondaryBtn ($w: 92px, $h: 38px, $bc: $dark_blue, $hbc: $green, $b: 1px solid $green);
    }

    @media (max-width: 800px) {
        gap: 50px;
    }

    @media (max-width: 440px) {
        gap: 25px;
        .live_test_btn {
            @include dFlex();
            @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
            @include secondaryBtn ($w: 72px, $h: 34px, $bc: $purple, $hbc: $green, $b: none);
        }
    
        .github_btn {
            @include dFlex();
            @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
            @include secondaryBtn ($w: 72px, $h: 34px, $bc: $dark_blue, $hbc: $green, $b: 1px solid $green);
        }
    }
}

.purpule_shadow {
    background-image: url('../../../assets/img/desing_elements/purple_shadow_portfolio.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    position: absolute;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 1600px;

    @media (max-width: 1010px) {
        background-position: 0 50%;
    }

    @media (max-width: 800px) {
        max-width: 400px;
        background-position: 0 40%;
    }
}

.green_shadow {
    background-image: url('../../../assets/img/desing_elements/green_shadow_portfolio.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    position: absolute;
    max-width: $max_width;
    width: $full_width;
    height: 100%;
    max-height: 900px;
    margin-top: -750px;

    @media (max-width: 800px) {
        max-height: 700px;
        margin-top: -550px;
    }

    @media (max-width: 500px) {
        max-height: 600px;
        margin-top: -450px;
    }

    @media (max-width: 370px) {
        max-height: 500px;
        margin-top: -400px;
    }
}

.reverse_portfolio_project {
    flex-direction: row-reverse;
}

.reverse_project_info {
    align-items: end;
    margin-right: 0;
    margin-left: 35px;

    .reverse_description {
        text-align: right;
    }

    @media (max-width: 1010px) {
        align-items: center;
        margin-left: 0;

        .reverse_description {
            text-align: center;
        }
    }
}



.direction_column {
    flex-direction: column;
}