<div class="portfolio_content">
    <div class="portfolio_title_container">
        <div class="portfolio_title">
            <div class="purple_line"></div>
            <h1>Portfolio</h1>
            <div class="purple_line_second"></div>
        </div>
        <div class="portfolio_sub_title">
            <span>
                Explore a selection of my work here - Interact with projects to see my skills in action.
            </span>
        </div>
    </div>

    <div class="portfolio_container">

    </div>
</div>
