<div class="my_skills_content">
    <div class="my_skills_container">
        <div class="my_skills_logos_container">
            <div *ngFor="let mySkill of mySkills; index as i" class="my_skills_logos">
                <img src="./assets/img/logos/{{ mySkill.img }}">
                <p>{{ mySkill.title }}</p>
            </div>

        </div>
        <div class="my_skills_title_container">
            <div class="my_skills_title">
                <h1>My skills</h1>
                <div class="purple_line"></div>
            </div>
            <div class="my_skills_text">
                <span>
                    I have gained experience in building projects with various front end technologies and concepts.
                </span>
            </div>
            <div class="my_skills_btn_container">
                <a href="#contact">Get in touch</a>
            </div>
        </div>
    </div>
    <div class="green_shadow">
        <div class="my_skills_mobile_btn_container">
            <a href="#contact">Get in touch</a>
        </div>
    </div>
</div>