@use '../../../mixins.scss' as *;

.my_skills_content {
    @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
    max-width: $max_width;
    width: $full_width;
    background-color: $dark_blue;
    padding-bottom: 120px;
    padding-top: 120px;

    @media (max-width: 1024px) {
        padding-bottom: 75px;
        padding-top: 75px;
    }
}

.my_skills_container {
    @include dFlex($jc: space-between);
    padding-left: 100px;

    @media (max-width: 1100px) {
        padding-left: 50px;
    }

    @media (max-width: 1024px) {
        @include dFlex($fd: column-reverse);
        padding-left: 0;
    }
}

.my_skills_logos_container {
    @include dFlex($jc: start);
    position: relative;
    z-index: 400;
    flex-wrap: wrap;
    width: 50%;
    height: 70%;
    gap: 88px;

    @media (max-width: 1330px) {
        gap: 70px;
    }

    @media (max-width: 1170px) {
        gap: 50px;
    }

    @media (max-width: 1024px) {
        @include dFlex();
        width: 90%;
    }

    @media (max-width: 411px) {
        gap: 24px;
    }
}

.my_skills_logos {
    @include dFlex($fd: column);
    gap: 10px;
    height: 100px;
    width: 80px;
    &:hover {
        img {
            @extend .shake-vertical;
        }
    }

    p {
        @include fontStyle($fs: 16px, $fw: 700, $fc: $white);
        text-align: center;
    }

    img {
        height: 60px;
    }

    @media (max-width: 1024px) {
        width: 160px;
    }

    @media (max-width: 890px) {
        width: 120px;
    }

    @media (max-width: 570px) {
        width: 100px;
        height: 70px;

        img {
            height: 50px;
        }

        p {
            @include fontStyle($fs: 14px, $fw: 700, $fc: $white);
        }
    }

    @media (max-width: 450px) {
        width: 90px;
        height: 70px;

        img {
            height: 45px;
        }
    }

    @media (max-width: 410px) {
        width: 100px;
        height: 80px;

        img {
            height: 40px;
        }
    }

    @media (max-width: 390px) {
        width: 80px;
        height: 80px;
    }
}

.my_skills_title_container {
    width: 50%;
    height: 50%;
    margin-top: 44px;

    @media (max-width: 1024px) {
        width: 100%;
        height: fit-content;
        margin-bottom: 35px;
    }

    .my_skills_title {
        @include dFlex($jc: end);
        width: 100%;
        gap: 42px;

        .purple_line {
            @include lineDesign($lw: 58px, $lh: 4px, $lc: $purple);
        }

        @media (max-width: 1100px) {
            gap: 15px;

            .purple_line {
                @include lineDesign($lw: 35px, $lh: 4px, $lc: $purple);
            }
        }

        @media (max-width: 720px) {
            gap: 5px;

            .purple_line {
                @include lineDesign($lw: 20px, $lh: 4px, $lc: $purple);
            }
        }
    }
}

.my_skills_text {
    @include dFlex($jc: start);
    margin-right: 100px;
    margin-top: 34px;

    @media (max-width: 1100px) {
        margin-right: 50px;
    }

    @media (max-width: 1024px) {
        @include dFlex($jc: end);
    }

    @media (max-width: 720px) {
        margin-right: 25px;
    }

    span {
        @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
        text-align: right;

        @media (max-width: 1010px) {
            max-width: 70%;
        }

        @media (max-width: 530px) {
            max-width: 90%;
        }

        @media (max-width: 400px) {
            max-width: 95%;
        }

        @media (max-width: 350px) {
            @include fontStyle($fs: 14px, $fw: 400, $fc: $white);
        }
    }
}

.my_skills_btn_container {
    @include dFlex($ai: start);
    width: 100%;
    margin-top: 57px;
    height: 80px;
    position: relative;
    z-index: 400;

    @media (max-width: 1024px) {
        display: none;
    }

    a {
        @include dFlex();
        @include primaryBtn($w: 200px, $h: 58px, $hw: 220px, $hh: 68px);
        @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
    }
}

.green_shadow {
    @include dFlex($ai: end);
    width: 50%;
    height: 911px;
    margin-top: -511px;
    position: absolute;
    background-image: url('../../../assets/img/desing_elements/green_shadow_my_skills.png');
    background-repeat: no-repeat;
    background-position: 0 -100%;

    @media (max-width: 1024px) {
        width: 100%;
    }

    @media (max-width: 700px) {
        background-position: -20% -100%;
    }

    @media (max-width: 530px) {
        background-position: -50% -100%;
    }

    @media (max-width: 430px) {
        background-position: -100% -100%;
    }

    @media (max-width: 390px) {
        background-position: -300% -80%;
    }

    @media (max-width: 370px) {
        background-position: -100% 140%;
        background-size: 80%;
    }

    @media (max-width: 340px) {
        background-position: -140% 140%;
    }
}

.my_skills_mobile_btn_container {
    @include dFlex($ai: start);
    display: none;
    width: 100%;
    position: relative;
    z-index: 400;
    height: 80px;

    @media (max-width: 1024px) {
        display: flex;
        margin-bottom: 270px;
    }

    a {
        position: relative;
        z-index: 600;
        @include dFlex();
        @include fontStyle($fs: 18px, $fw: 400, $fc: $white);
        @include primaryBtn($w: 170px, $h: 53px, $hw: 180px, $hh: 63px);

        @media (max-width: 480px) {
            @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
            @include primaryBtn($w: 158px, $h: 49px, $hw: 168px, $hh: 59px);
        }
    }
}

.shake-vertical {
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-vertical {
    0%, 100% {
        transform: translateY(0);
    }

    10%, 50% {
        transform: translateY(-8px);
    }

    30%, 70% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}