<div class="landing_page_content">
    <div class="landing_page_container">
        <div class="landing_page_img_container">
            <div class="landing_page_img">
                <img class="profile_img" src="../../../assets/img/profile/profile.png">
                <img class="profile_img_cut" src="../../../assets/img/profile/profile_cut.png">
            </div>
        </div>
        <div class="landing_page_title_container">
            <div class="landing_page_title">
                <span>I am</span>
                <div class="title">
                    <h1>Csaba Miska</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <div class="landing_page_btn_container">
                <a href="#contact">Let's talk!</a>
            </div>
        </div>
    </div>
    <div class="landing_page_design_element">
        <img class="" src="../../../assets/img/desing_elements/vector_landing_page.png">
    </div>
    <div class="landing_page_nav_container">
        <nav>
            <div class="purple_line"></div>
            <a href="https://github.com/csabaMiska" target="blank"><img src="./assets/img/logos/github.png"
                    alt="git"></a>
            <a
                href="mailto:miskacs90@icloud.com?subject=Hallo%20Csaba&body=Ich%20möchte%20mit%20dir%20Kontakt%20aufnehmen."><img
                    src="./assets/img/logos/mail.png" alt="mail"></a>
            <a href=""><img src="./assets/img/logos/in.png" alt="in"></a>
            <a href="mailto:miskacs90@icloud.com?subject=Hallo%20Csaba&body=Ich%20möchte%20mit%20dir%20Kontakt%20aufnehmen."
                class="email">miskacs90&#64;icloud.com</a>
        </nav>

        <div class="scroll_down_container">
            <span>
                Scroll down
                <mat-icon>arrow_forward</mat-icon>
            </span>
        </div>
    </div>
</div>