<div class="content">
    <div class="hero_container">
        <div class="hero_img">
            <div class="purple_shadow">
                <div class="green_shadow"></div>
            </div>
            <img class="profile_img" src="../../../assets/img/profile/profile.png" alt="Profile">
            <img class="profile_cut" src="../../../assets/img/profile/profile_cut.png">
        </div>
        <div class="hero_titel_container">
            <div class="hero_titel">
                <span>I am</span>
                <div class="titel">
                    <h1>Csaba Miska</h1>
                    <p>FRONTEND DEVELOPER</p>
                </div>
            </div>
            <div class="hero_btn_container">
                <button>Let's talk!</button>
            </div>
        </div>
    </div>
    <div class="dark_blue_element">
        <nav>
            <div class="purple_line"></div>
            <a href=""><img src="./assets/img/logos/git.png" alt="git"></a>
            <a href=""><img src="./assets/img/logos/mail.png" alt="mail"></a>
            <a href=""><img src="./assets/img/logos/in.png" alt="in"></a>
            <a href="mailto:miskacs90@icloud.com?subject=Hallo%20Csaba&body=Ich%20möchte%20mit%20dir%20Kontakt%20aufnehmen.">miskacs90&#64;icloud.com</a>
        </nav>
        <div class="scroll_down_container">
            <span>
                Scroll down 
                <mat-icon>arrow_forward</mat-icon>
            </span>
        </div>
    </div>
</div>
