@use '../../../mixins.scss' as *;

.landing_page_content {
    width: $full_width;
    max-width: $max_width;
    height: 100vh;
    background-color: $dark_blue;
    @include dFlex($fd: column, $jc: end);
}

.landing_page_container {
    width: 100%;
    height: 100vh;
    @include dFlex($jc: center);
    padding-top: 109px;

    @media (max-height: 600px) {
        @include dFlex($jc: space-between);
        padding-top: 80px;
    }

    @media (max-width: 1024px) and (min-height: 601px) {
        @include dFlex($fd: column, $jc: space-between);
        padding-top: 80px;
    }

    @media (min-height: 1181px) and (max-height: 1706px) {
        @include dFlex($fd: column, $jc: space-between);
        padding-top: 109px;
    }

    @media (min-width: 1706px) {
        @include dFlex($jc: space-between);
        padding-top: 109px;
    }

    @media (max-height: 350px) {
        padding-top: 80px;
    }
}

.landing_page_design_element {
    @include dFlex($ai: end);
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-bottom: -48vh;

    img {
        height: 100vh;
        width: 100%;
        max-width: $max_width;
    }

    @media (max-height: 390px) {
        margin-bottom: -47vh;
    }

    @media (min-height: 391px) and (max-height: 430px) {
        margin-bottom: -46vh;
    }

    @media (min-height: 431px) and (max-height: 540px) {
        margin-bottom: -13vh;

        img {
            height: 50vh;
            width: 190%;
        }
    }

    @media (min-height: 541px) and (max-height: 600px) {
        margin-bottom: -13vh;

        img {
            height: 50vh;
            width: 190%;
        }
    }

    @media (min-height: 601px) and (max-height: 667px) {
        margin-bottom: 5vh;

        img {
            height: 50vh;
            width: 190%;
        }
    }

    @media (min-height: 668px) and (max-height: 690px) {
        margin-bottom: 26vh;

        img {
            height: 20vh;
            width: 190%;
        }
    }

    @media (min-height: 691px) and (max-height: 720px) {
        margin-bottom: 23vh;

        img {
            height: 30vh;
            width: 190%;
        }
    }

    @media (min-height: 721px) and (max-height: 740px) {
        margin-bottom: 27vh;

        img {
            height: 20vh;
            width: 190%;
        }
    }

    @media (min-height: 741px) and (max-height: 768px) {
        margin-bottom: 27vh;

        img {
            height: 20vh;
            width: 190%;
        }
    }

    @media (min-height: 769px) and (max-height: 820px) {
        margin-bottom: 20vh;

        img {
            height: 30vh;
            width: 190%;
        }
    }

    @media (min-height: 821px) and (max-height: 829px) {
        margin-bottom: 26vh;

        img {
            height: 20vh;
            width: 190%;
        }
    }

    @media (min-height: 830px) and (max-height: 853px) {
        margin-bottom: 14vh;

        img {
            height: 40vh;
            width: 190%;
        }
    }

    @media (min-height: 854px) and (max-height: 881px) {
        margin-bottom: 8vh;

        img {
            height: 50vh;
            width: 190%;
        }
    }

    @media (min-height: 882px) and (max-height: 1023px) {
        margin-bottom: 8vh;

        img {
            height: 50vh;
            width: 190%;
        }
    }

    @media (min-height: 1024px) and (max-height: 1280px) {
        margin-bottom: 25vh;

        img {
            height: 20vh;
            width: 200%;
        }
    }

    @media (min-height: 1281px) and (max-height: 1368px) {
        margin-bottom: 26vh;

        img {
            height: 20vh;
            width: 200%;
        }
    }

    @media (min-width: 1280px) and (max-width: 1280px) {
        margin-bottom: -45vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1151px) and (max-width: 1280px) {
        margin-bottom: -42vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-height: 800px) and (max-height: 800px) {
        margin-bottom: -34vh;

        img {
            height: 80vh;
            width: 190%;
        }
    }

    @media (min-height: 1369px) and (max-height: 1706px) {
        margin-bottom: 32vh;

        img {
            height: 40vh;
            width: 200%;
        }
    }

    @media (min-width: 1025px) and (max-width: 1150px) {
        margin-bottom: -35vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1114px) and (max-width: 1114px) {
        margin-bottom: -42vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1180px) and (max-width: 1180px) {
        margin-bottom: -45vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1281px) and (max-width: 1300px) {
        margin-bottom: -47vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1301px) and (max-width: 1365px) {
        margin-bottom: -47vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1366px) and (max-width: 1366px) {
        margin-bottom: -44vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1367px) and (max-width: 1368px) {
        margin-bottom: -48vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1368px) and (max-width: 1439px) {
        margin-bottom: -48vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1440px) {
        margin-bottom: -48vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }

    @media (min-width: 1706px) and (max-width: 1706px) {
        margin-bottom: -37vh;

        img {
            height: 100vh;
            width: 100%;
            max-width: $max_width;
        }
    }
}

.landing_page_nav_container {
    @include dFlex($jc: space-between);
    width: 100%;
    max-width: $max_width;
    height: 50px;
    position: absolute;
    z-index: 600;

    nav {
        @include dFlex($jc: start);
        gap: 42px;
        width: 100%;


        div {
            @include lineDesign($lw: 100px, $lh: 4px, $lc: $purple);

            @media (max-width: 480px) {
                @include lineDesign($lw: 18%, $lh: 4px, $lc: $purple);
            }

            @media (max-width: 424px) {
                @include lineDesign($lw: 14%, $lh: 4px, $lc: $purple);
            }

            @media (max-width: 360px) {
                @include lineDesign($lw: 10%, $lh: 4px, $lc: $purple);
            }
        }

        img {
            @include navLinkImg($w: 30px);
        }

        a {
            @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
            text-decoration: none;

            &:hover {
                color: $green;
            }
        }

        @media (max-width: 670px) {
            .email {
                display: none;
            }
        }

        @media (max-height: 600px) {
            .email {
                display: none;
            }
        }

        @media (max-height: 430px) {
            height: 25px;
            margin-bottom: -16px;

            img {
                @include navLinkImg($w: 25px);
            }
        }
    }

    .scroll_down_container {
        @include dFlex();
        padding-bottom: 124px;

        span {
            @include dFlex();
            @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
            writing-mode: vertical-lr;
            transform: rotate(0deg);
            gap: 7px;
            margin-right: 96px;
        }

        @media (max-width: 1100px) {
            margin-left: 50px;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}