<div class="contact_content">
    <div class="contact_title">
        <div class="purple_line"></div>
        <h1>Contact</h1>
    </div>
    <div class="contact_formular">
        <div class="contact_text">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing
                to your projects with my work.</p>
            <p>Need a Frontend developer?<br> <b>Contact me!</b></p>
        </div>
        <div class="contact_form">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div class="input_container">
                    <input #name="ngModel" [(ngModel)]="contactData.name"
                        [ngClass]="{'input_invalied': !name.valid && name.touched}" name="name" type="text"
                        minlength="2" placeholder="Your name" required>
                    <div class="error_message" *ngIf="!name.valid && name.touched" [ngStyle]="{'display': 'flex'}">
                        Your name is required
                    </div>
                </div>
                <div class="input_container">
                    <input #email="ngModel" [(ngModel)]="contactData.email"
                        [ngClass]="{'input_invalied': !email.valid && email.touched}" name="email" type="email" 
                        placeholder="Your email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                    <div class="error_message" *ngIf="!email.valid && email.touched" [ngStyle]="{'display': 'flex'}">
                        Your mail is required
                    </div>
                </div>
                <div class="textarea_container">
                    <textarea #message="ngModel" [(ngModel)]="contactData.message" 
                        [ngClass]="{'input_invalied': !message.valid && message.touched}" name="message" id="message" 
                        placeholder="Your message" minlength="2" required></textarea>
                    <div class="error_message" *ngIf="!message.valid && message.touched" [ngStyle]="{'display': 'flex'}">
                        Your message is empty
                    </div>
                </div>
                <div class="checkbox_container">
                    <input #checkbox="ngModel" [(ngModel)]="privacyPolicy" checked="privacyPoliicy" type="checkbox" name="privacy_policy" 
                    id="privacy_policy" required>
                    <label for="privacy_policy"><span>I've read the <a href="privacypolicy" target="blank">privacy policy</a> and agree to the processing
                        of my data as outlined.</span></label>
                    <div class="error_message" *ngIf="!privacyPolicy && contactForm.submitted" [ngStyle]="{'display': 'flex'}">
                        Please accept the privacy policy.
                    </div>
                </div>
                <div class="btn_container">
                    <button type="submit" [disabled]="!privacyPolicy || !contactForm.valid">Send message :)</button>
                </div>
            </form>
        </div>
    </div>
    <div class="scroll_up_btn_container">
        <a href="#landingPage">
            <div class="arrow"></div>
        </a>
    </div>
    <div class="purple_shadow"></div>
</div>