@use './styles.scss' as styles;
@forward './styles.scss';

// Objects - placeing
@mixin dFlex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}
