@use './styles.scss' as styles;
@forward './styles.scss';

// Objects - positioning
@mixin dFlex($jc: center, $ai: center, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

// Fonts - Size & Weight
@mixin fontStyle($fs, $fw, $fc) {
    font-family: 'Poppins';
    font-size: $fs;
    font-weight: $fw;
    color: $fc;
}

//Buttons Style
@mixin primaryBtn($w, $h, $hw, $hh) {
    width: $w;
    height: $h;
    background-color: styles.$green;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        cursor: pointer;
        transition: width 200ms ease-out, height 200ms ease-out;
        width: $hw;
        height: $hh;
        background-color: styles.$purple;
    }

    &:disabled {
        background-color: silver;
        cursor: default;

        &:hover {
            width: $w;
            height: $h;
        }
    }
}

@mixin secondaryBtn ($w, $h, $bc, $hbc, $b) {
    width: $w;
    height: $h;
    text-decoration: none;
    padding: 12px 30px 10px 32px;
    border-radius: 10px;
    border: $b;
    background-color: $bc;

    &:hover {
        background-color: $hbc;
    }
}

@mixin navLinkImg() {
    width: 30px;

    &:hover {
        cursor: pointer;
        transition: transform 300ms ease-out;
        transform: scale(1.4);
    }
}

// Input's
@mixin inputDesign($w, $h, $p) {
    width: 100%;
    max-width: $w;
    height: $h;
    resize: none;
    box-sizing: border-box;
    background-color: styles.$dark_blue;
    padding: $p 25px $p 25px;
    gap: 10px;
    border: 1px solid styles.$purple;
    border-radius: 10px;

    &:hover {
        border: 1px solid styles.$green;
    }

    &:focus {
        border: 1px solid styles.$green;
        outline: none;
    }

    &::placeholder {
        color: styles.$white;
    }
}

// Design Line
@mixin lineDesign($lw, $lh, $lc) {
    width: $lw;
    height: $lh;
    background-color: $lc;
}