@use './fonts.scss' as font;

// Page width
$max_width: 1440px;
$full_width: 100vw;

// Portfolio Design Colors
$green: rgba(112, 230, 28, 1);
$purple: rgba(151, 71, 255, 1);
$white: rgba(255, 255, 255, 1);
$light_blue: rgba(28, 218, 230, 1);
$dark_blue: rgba(20, 29, 47, 1);
$dark_blue_transparency: rgba(20, 29, 47, 0.8);
$red: rgba(230, 28, 64, 1);


html,
body {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins';
    background-color: $dark_blue_transparency;
    color: $white;
}

app-header,
app-footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 90px;
    font-weight: 700;
    color: $white;

    @media (max-width: 1375px) {
        font-size: 80px;
    }

    @media (max-width: 1295px) {
        font-size: 74px;
    }

    @media (max-width: 1185px) {
        font-size: 66px;
    }

    @media (max-width: 600px) {
        font-size: 56px;
    }

    @media (max-width: 480px) {
        font-size: 46px;
    }

    @media (max-width: 390px) {
        font-size: 38px;
    }
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 58px;
    font-weight: 400;
    color: $purple;

    @media (max-width: 1420px) {
        font-size: 56px;
    }

    @media (max-width: 1375px) {
        font-size: 50px;
    }

    @media (max-width: 1295px) {
        font-size: 46px;
    }

    @media (max-width: 1185px) {
        font-size: 42px;
    }

    @media (max-width: 600px) {
        font-size: 35px;
    }

    @media (max-width: 480px) {
        font-size: 29px;
    }

    @media (max-width: 390px) {
        font-size: 24px;
    }
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}


* {
    scrollbar-width: thin;
    scrollbar-color: $green $dark_blue_transparency;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}