@use '../../../mixins.scss' as *;

footer {
    @include dFlex($jc: space-between);
    position: relative;
    bottom: 0;
    max-width: $max_width;
    width: $full_width;
    height: 291px;
    background-color: $dark_blue;
    border-top: solid 4px $green;
        div {
            margin-left: 100px;
                h1 {
                    @include fontStyle($fs: 32px, $fw: bold, $fc: $white);
                    letter-spacing: 2px; 
                        &:hover {
                            cursor: pointer;
                            color: $green;
                        }
                }

                p {
                    @include fontStyle($fs: 16px, $fw: 400, $fc: $white);
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline 2px solid $light_blue;
                            text-underline-offset: 6px;
                        }
                }
        }
}

span {
    @include fontStyle($fs: 23px, $fw: 400, $fc: $white);
}

nav {
    @include dFlex();
    margin-right: 100px;
    gap: 42px;
        img {
            @include navLinkImg();
        }
}