<footer [ngClass]="{'center': isImpressumPage}">
    <div *ngIf="!isImpressumPage">
        <h1>Csaba</h1>
        <a href="impressum" target="_blank">Impressum</a>
    </div>

    <span>&copy; Csaba Miska 2025</span>

    <nav *ngIf="!isImpressumPage">
        <a href=""><img src="./assets/img/logos/github.png" alt="git"></a>
        <a href=""><img src="./assets/img/logos/mail.png" alt="mail"></a>
        <a href=""><img src="./assets/img/logos/in.png" alt="in"></a>
    </nav>

    <a *ngIf="!isImpressumPage" href="impressum" target="_blank" class="impressum_mobile">Impressum</a>
</footer>
